{% extends "ucitel.html" %}
{% block main %}
<link rel="stylesheet" href="/static/simplemde/simplemde.min.css">
<script src="/static/simplemde/simplemde.min.js"></script>
<script src="/static/simplemde/lista.js"></script>
<link rel="stylesheet" href="/static/simplemde/font-awesome.min.css">

<h1>Přidat</h1>

{% if chyba is defined %}
<p class="spatne">{{chyba}}</p>
{% endif %}
{% if vlozeno is defined %}
<p class="dobre">{{vlozeno}}</p>
{% endif %}

<form method="post" action="{{url_for('pridat_otazku')}}">
  <input type="text" placeholder="Nadpis/Jméno otázky" name="jmeno" size="80" {# autocomplete="off" #} value="otazkaaaa"/>
  </p>
    Typ otázky:
    {%if request.form.typ_otazky is defined %}
    {%  if request.form.typ_otazky == "U" %}
    {%    set u = 'selected="selected"' %}    
    {%  elif request.form.typ_otazky == "O" %}
    {%    set o = 'selected="selected"' %}
    {%  elif request.form.typ_otazky == "C" %}
    {%    set c = 'selected="selected"' %}
    {%  endif %}
    {%endif %}
    <select name="typ_otazky">
      <option value="U" {{u}}>Uzavřená</option>     
      <option value="O" {{o}}>Otevřená</option>
      <option value="C" {{c}}>Číselná</option>
    </select>
    <br>
    <textarea name="obecne_zadani" id="pridat" placeholder="Zadání" rows="15" cols="40">neco</textarea><br>
    <input class="dobre"  type="text" placeholder="Správná odpověď" name="spravna_odpoved" value="aaa"><br>
    <input class="spatne" type="text" placeholder="Špatná odpověď 1" name="spatna_odpoved1" value="bbb"><br>
    <input class="spatne" type="text" placeholder="Špatná odpověď 2" name="spatna_odpoved2" value="ccc"><br>
    <input class="spatne" type="text" placeholder="Špatná odpověď 3" name="spatna_odpoved3" value="ddd"><br>
    <input class="spatne" type="text" placeholder="Špatná odpověď 4" name="spatna_odpoved4" value="{{request.form.spatna_odpoved4}}"><br>
    <input class="spatne" type="text" placeholder="Špatná odpověď 5" name="spatna_odpoved5" value="{{request.form.spatna_odpoved5}}"><br>
    <input class="spatne" type="text" placeholder="Špatná odpověď 6" name="spatna_odpoved6" value="{{request.form.spatna_odpoved6}}"> <br>
    <input type="submit" name="vlozit" value="Vložit otázku">
</form>
<script>
  editor("pridat");
</script>


{% endblock main %}
