/* latin-ext */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v7/4UaHrEJCrhhnVA3DgluA96Tp56N1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(https://fonts.gstatic.com/s/breeserif/v7/4UaHrEJCrhhnVA3DgluA96rp5w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  width: 100%;
  *zoom: 1; 
}
  
html, body{
  overflow: auto !important; 
  cursor: url(sipka.png) 2 2, auto;
}

  body:before, body:after {
    content: "";
    display: table; 
  }
  
  body:after {
    clear: both; 
  }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

pre, code {
  background-color: #fafafa;
  font-family: monospace; }

pre {
  padding: 5px; }

body {
  min-width: 1050px;
  margin: 1ex auto;
  overflow: auto;
  border: #DD5500 solid 3px;
  width: auto;
}

html, body {
  font-size: 14pt;
  border-radius: 40px;
  padding: 1ex 1em; 
}

html, body, input, select, button {
  font-family: "Bree serif", "Lora", "Open Sans", "Calibri", "Arial";
}

  
  #body {
    border-bottom: solid #DD5500 2px;
    padding-bottom: 1ex;
    margin-bottom: 1em; 
  }
    
  a {
    text-decoration: none;
    color: #DD5500; 
  }

  h1 {
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 0.2em;
  }

  img {
    vertical-align: middle; 
  }

  ul {
    margin-left: 9.375%;
    display: inline; 
  }

  li {
    display: inline-block;
    margin: 5px 5px; 
  }
    
  a {
    display: inline-block;
    padding: 5px 7px 2px;
  }

  a:hover {
    text-decoration: underline;
    transition: 
  }

  li:hover a {
    //text-decoration: underline; 
  }

/* prichytavat menu nahore */
.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  background: white;
  width: 100%;
  height: 38px;
  border-bottom: 2px solid orange;
  box-shadow: 0px 0px 5px 1px black;
}

/* oprava menu aby telo stranky nepreskakovalo */
.body-menu {   
  margin-top: 38px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #DD5500;
  /*! margin-top: 1em; */
  /*! margin-bottom: 1ex; */  
  padding: 0px;
  margin: 0px;  
  margin-top: 20px;
}

  h1 {
    font-size: 200%; 
  }
  
  h2 {
    font-size: 140%; 
  }
 
  h3 {
    font-size: 111%; 
  }
  
  nav {
    background: linear-gradient(to bottom, rgb(255, 250, 142) 0%, rgb(209, 97, 3) 100%) !important;
    border-radius: 50px;
    box-shadow: inset 2px 2px 2px #d5af76;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;   
  }

  nav a {
    padding: 0px 3px;
    /* margin: 0 aut; */
    color: #683616;
    transition: 0.5s;
  }

  nav a:hover {
    text-decoration: none;
  }


  nav a.oznaceno, nav a:hover {
    color: white;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
  }

  nav ul, nav li {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    padding: 0 0.2em;
  }
  
  nav.menu {
    border-radius: 0% 0% 20% 20% !important;
    border: none;
    float: center;
    height: auto;
  }

  ul {
    margin:0;
  }
    
  ul li {
      list-style-type: disc; 
  }

  p {
    margin: 0.5ex 0px 0.5ex 0px; 
  }

footer {
  font-size: 77%;
  text-align: right;
  border-top: solid #DD5500 1px;
  margin-top: 1em;
  padding-top: 1ex; }
  footer a {
    color: #DD5500; }

body .vysledek_True{
  background-color:#3ADF00;
  border-radius: 5px;
}


.vysledek_False{
  background-color:#FF0000 ;
  border-radius: 5px;
}

.vysledek{
  background-color:#FFBF00 ;
  border-radius: 5px;
}

.login {
  text-align: right;
  margin-right: 34.375%;
  line-height: 150%; }

#prihlaseno {
  float: right;
  text-align: right; }
  #prihlaseno a {
    //text-decoration: overline; 
  }
  #prihlaseno a:hover {
    //text-decoration: underline; 
  }

.pridat_otazku td {
  padding-right: 1ex;
  padding-bottom: 5px; }
.pridat_otazku textarea {
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 110%;
  max-width: 100%; }

p.spatne, p.dobre {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 150%; }

p.dobre {
  color: green; }

.spravna_odpoved {
  color: green; }

.spatna_odpoved {
  color: red; }

.odeslat {
  text-align: right;
  margin: 1em;
  margin-right: 2em; }

.seznam_otazek li, .otazka li {
  margin-bottom: 1em;
  list-style-type: none;
  border: 1px solid #660055;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; 
}

  .seznam_otazek li:hover, .otazka li:hover {
    background-color: #ddffaa; 
  }

  .seznam_otazek h2, .otazka h2 {
    font-size: 105%;
    color: #660055;
    display: inline-block;
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%; 
  }

  .seznam_otazek .odkazy, .otazka .odkazy {
    display: inline-block;
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%; 
  }

  .seznam_otazek a, .otazka a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 3px 5px;
    background: #eee;
    color: #660055;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px ridge black; 
  }

  .seznam_otazek a:hover, .otazka a:hover {
  background: #f3f3f3;
  border-style: inset; 
}

.seznam_otazek p, .otazka p {
  margin-left: 20px;
  margin-right: 20px; 
}

.otazka .rendruj {
  padding-top: 4em; }

.anone {
  text-align: center;
  margin-bottom: 2em; }

.logo2 {
  position: relative;
  left: 50px;
  top: 10px;
  font-size: 0px;
}

.logo3 {
	font-size: 50px;
	position: relative;
	left: 20px;
  top: 9px;
  transition: all 2.5s; 
}

.logo3:hover {
  transform: rotate(-15deg);
  transition: all 2.0s;
	text-decoration: none;
}


 .bar, .bar0, .bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
  background-color: #DD5500;
  width: 12px;
  padding: 0px;
  display: inline-block;  
  margin-right: 1px;
  transition: 3s;
  border-radius: 8px;
  }

.bar0 {height: 22px; }
.bar1 {height: 11px; }
.bar2 {height: 40px; }
.bar3 {height: 60px; }
.bar4 {height: 30px; }
.bar5 {height: 17px; }
.bar6 {height: 50px; }

.clear {
  clear: both; }

/*    Javascript CSS   */
.j-filterp {
  text-align: center;
  margin-top: -1em;
  margin-bottom: 1em; 
}

.kalendar1 input {
  width: 10em; 
}

#kalendar1 {
  position: absolute;
  z-index: 110;
}
  
  #kalendar1 table {
    border-collapse: collapse;
    border: 1px solid brown;
    background-color: #FAFAD2;
    position: absolute;
    top: -1em;
    left: calc(11em + 10px); 
  }
  
  #kalendar1 th {
    color: brown;
    border-bottom: 1px solid brown; 
  }
  
  #kalendar1 table th, #kalendar1 table td, {
    border: none;
  }

  #kalendar1 th, #kalendar1 td {
    font-size: 16px;
    text-align: center;
    padding: 2px 3px 2px 2px; 
  }
  
  #kalendar1 thead th {
    text-align: center;
    color: #FAFAD2;
    background-color: brown; 
  }
  
  #kalendar1 thead th:first-child,
  #kalendar1 thead th + th + th, {
    background-color: #C00000;
    cursor: pointer; 
  }
  
  #kalendar1 .dnes {
    color: #FAFAD2;
    background-color: brown; 
  }
  
  #kalendar1 .akt {
    color: #FAFAD2;
    background-color: red; 
  }
  
  #kalendar1 td {
    cursor: pointer; 
  }
  
  #kalendar1 #content {
    padding-bottom: 120px; 
  }
  
  #kalendar1 #main {
    position: relative;
    z-index: 1; 
  }
  
  #kalendar1 input.ukazka {
    float: right;
    margin-right: 20px; 
  }

  .logo {
    width: 125px;
    height: 125px;
    transition: all 5s;
  }
  
  .logo:hover {
      transform: rotate(2520deg);
      transition: all 2s;
  }

table {
  border-collapse: collapse;
  border: 2px solid orange;
  margin: 0 auto;
  padding:2px;
}

  .tabulka {
  font-size: 1em;
  font-weight:bold;
  }

  th,td {
  border: 2px solid orange;
  padding: 0 5px 0 5px;
  }

  tr {
      padding-right:10px;
  }

  th {
    text-align: left;
    background: orange;
    color: #723b0d;
    border: transparent;
    height: 22px;
    vertical-align: center;
    box-shadow: inset 0px 12px 10px 0px rgba(255, 255, 255, 0.87);
  }

  .radekAkce {
    width: 5em;
  }



.dialog {
  position: fixed;
  width: 200px;
  height: 50px;
  padding: 1.5em;
  background: linear-gradient(to bottom, rgb(251, 250, 240) 0%, rgb(237, 228, 36) 30%, rgb(255, 154, 2) 60%, rgb(209, 97, 3) 100%);
  color: #fff;
  font-size: 18px;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  border-radius: 57% 43%;
  box-shadow: 0px 0px 10px 10px #000000b3;
  text-shadow: 2px 2px 3px black, -2px 2px 3px black;
  display: block;
}

.obal{
	position: fixed;
	z-index: 1000;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

#hlaska {
  background: rgba(255, 115, 0, 0.822); 
  color: rgb(7, 0, 83);
  font-weight: bold;
  position: fixed;
  width: 50%; 
  top: 0; 
  left: 50%; 
  margin-left: -25%; 
  padding: .5em; 
  top: -3em; 
  transition: top 1s;
  line-height: 1.2;
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 14pt;
  border-radius: 5px;
  z-index: 199;
}

#hlaska.zobrazit {top: 0}

#hlaskaIframe {
  position: fixed;
  top: 0px;
  background: rgba(255, 115, 0, 0.822);
  padding: 20px;
  border-radius: 20px;
  margin-left: 10%;
  z-index: 198;
}

#hlaskaIframe iframe {
  width: 600px;
  height: 400px;
}


.skryty {
  display: none;
}

  

.otazka, .test, .vysledek {
  padding: 0 10px;
	background:orange;
	margin: 5px 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 2px 10px 8px #ffe7c4;
  transition: 0.5s;
}

.otazka:hover, .test:hover, .vysledek:hover {
	box-shadow: inset 2px 5px 4px #56555580;
  transition: 0.5s;
}

  .otNazev, .ttNazev {
    /*display: block;*/
    font-weight: bold;
    font-size: 21px;
  }

  .otZadani{
    display: block;
  }


  .otazka.vybrana {
    background: yellow;
  }

#stranka {
  display: block;
}

.kalendar {
  cursor:pointer; 
  vertical-align:bottom; 
  position:relative; 
  top:-2px;
  z-index: 100;
}




/*************lista - hodnoceni **********************/

#znamky {
	width: 750px;
	height: 10px;
	display: inline-grid;
	padding: 0px;
	margin: 0px;
	position: relative;
	border-radius: 10px;
	background: linear-gradient(to bottom, rgb(255, 216, 158) 0%, rgb(209, 97, 3) 100%);
	margin-top: 1.5em;
	margin-left: 1em;
}

.znamka {
	width: 25px;
	height: 25px;
	display: block;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: -7px;
	font-size: 16px;
	text-align: center;
	cursor: e-resize;
	transition: 1s;
  border-radius: 100%;
  box-shadow: inset 0px -7px 8px 2px #00000080;
}

.znamka:hover, .znamka:active {
  box-shadow: inset 0px 3px 8px 2px #26262680;
}

#zn1{
  z-index: 11;
  background-color: green;
  color: white;
}

#zn1{
  z-index: 12;
  background-color: yellow;
  color: black;
}

#zn2{
  z-index: 13;
  background-color: orange;
  color: black;
}

#zn3{
  z-index: 14;
  background-color: red;
  color: white;
}		

#zn4{
  z-index: 15;
  background-color: rgb(200, 45, 134);
  color: white;
}

#zn5{
  z-index: 16;
  background-color: rgb(123, 52, 154);
  color: white;
}

#zn6{
  z-index: 17;
  background-color: blue;
  color: white;
}

#zn7{
  z-index: 18;
  background-color: cyan;
  color: black;
}		

#zn8{
  z-index: 19;
  background-color: rgb(68, 33, 10);
  color: white;
}

#zn9{
  z-index: 20;
  background-color: black;
  color: white;
}

.otTlacitka, .ttTlacitka {
  float: right;
  display: none;
}

.ttAutor, .ttOd, .ttDo, .ttLimit, .ttPokusu {
  padding-right: 10px; 
}


.otOdpovedi {
  background: white;
  display: block;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.txOtazka {
  display: block;
  min-width: 500px;
  overflow: hidden;
}

ol.odpovedi {
  display: block;
  /* list-style-type: decimal; */
  padding-left: 1em;
}

li.odpoved {
  display: list-item;
  list-style: none;
  margin-left: 0px;  
}


@counter-style pismena {
    symbols: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j';
}

.inputLista{
  cursor: pointer; 
}

.dobre, input.dobre {
  border: green solid 2px; 
}

.spatne, input.spatne {
  border: red solid 2px; 
}

input.otevrena {
  border: blue solid 2px; 
}

input.seda {
  border: grey solid 2px; 
}

.odOtevrena {
  color: blue;
}

.inputSpravna, .odDobre {
  color: green;
}

.inputSpatna, .odSpatne, .inputSmazat {
  color: red;
}

.inputSpravna, .inputSpatna, .inputSmazat {
  padding-left: 5px;
}

.inputTlacitka {
  display: none;
}

.odpoved {
  cursor: pointer;
  transition: 1.0s;
}

.odpoved:hover {
  transition: 1.0s;
  color: green;
}

.odpoved.oznacena {
  background: orange;
}

#obnovJS, #odhlasit, .otPridat, .logo2, .ttPridat {
  cursor: pointer;
}

#obnovJS:hover {
  //background: yellow;
}

.tabDb input {
	border: none;
	font-size: 18px;
	margin: 0px;
  padding: 0px;  
}

.tabInput:hover, .tabInput:focus {
  color: brown;
  transition: 0.5s;
}

.tbTridy {
	border: none;
	font-size: 16px;
}

#uzivatele, #log, #ucet {
  display: none;
}

.otTestu h2 {
	text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.38);
}

.odSpatne.oznaceno, .odDobre.oznaceno {
  display: table;
	border-radius: 8em;
  margin-top: 0.1em;
  color: white;
  font-weight: normal;
  box-shadow: 0px 0px 3px 1px #0009;
}

div.odDobre, div.odSpatne {
  padding: 0em 0.5em 0.05em 0.5em;
  font-weight: bold;
}


.odSpatne.oznaceno {
	background: red;
}

.odDobre.oznaceno {
  background: green;
}


#menuUcitel, #menuStudent, #menuAdmin {
  display: none;
  z-index: 150;
}

#menuStudent {
	text-align: left;
	padding: 5px 20px;
}

#menuStudent.menu {
	padding: 5px 80px;
}

.fa.zavorky::after    { content: "[]"; }
.fa.alfa::after       { content: "α"; }
.fa.beta::after       { content: "β"; }
.fa.gama::after       { content: "γ"; }
.fa.omega::after      { content: "Ω"; }
.fa.pi::after         { content: "π"; }
.fa.mi::after         { content: "µ"; }
.fa.sipka::after      { content: "→"; }
.fa.nerovnost::after  { content: "≠"; }
.fa.dolar::after      { content: "$"; }
.fa.zavorkySl::after  { content: "{}"; }


/*.fa.::after           { content: ""; }
.fa.::after           { content: ""; }*/


.editor-toolbar.fullscreen {
  width: auto !important;
}


/* pocet otazek u testu */
.otPocet {
  float: right;
  width: 20px;
  margin-right: 20px;
  display: none;
}

#ttZvolene > .otazka > .otPocet {
	display: block;
}

.inputLista input {
	width: 250px;
	border-radius: 20% 0%;
}

/********** SIMPLE MDE ************/

.editor-toolbar a.active, .editor-toolbar a:hover {
  line-height: 30px !important;
}



.editor-toolbar {
	border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border: none !important;
  background: linear-gradient(to bottom, rgb(245, 245, 245) 0%, rgb(161, 161, 161) 100%) !important;
  box-shadow: inset 1px 1px 1px #d5d5d5;
  padding: 0 10px;
  opacity: 1 !important;
}

.editor-toolbar a {
	width: 25px !important;
	height: 30px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #08233e !important;
	display: inline-block;
	text-align: center;
	text-decoration: none !important;
	color: #2c3e50 !important;
	border: 1px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	line-height: 10px;
}

.editor-toolbar i.separator {
	margin: 0 !important
}

.editor-toolbar::after, .editor-toolbar::before {
	margin: 0px !important;
}


.CodeMirror {
	border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.editor-toolbar i.separator {
	border-left: 1px solid #6f6f6f !important;
	border-right: 1px solid #fffafa !important;
}

.fa.znak {
	font-weight: bold;
  font-size: 22px;
  line-height: 30px
}

.editor-toolbar.fullscreen {
	width: 100% !important;
}

#otMrizka {
  display: grid;
  grid-template-columns: 8em 11em 8em 4em;
}

#otMrizka .popis, #vlozitOtazky {
	margin-left: 1em;
}

#otId {
	display: none;
}

#ttMrizka {
  display: grid;
  grid-gap: .3em;
  grid-template-columns: 50% 50%;
}

.mrizka.vyzkouset {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-auto-columns: auto; */
	grid-auto-flow: dense;
}


#otBodu {
  grid-column: 4;
  grid-row: 1;
}
#vlozitOtazky {
  grid-column: 5;
  grid-row: 2 / 50;
}
#otnJmeno {
  grid-row: 1;
  grid-column: 1;
}
#otJmeno {
  grid-row: 1;
  grid-column: 2;
  /*! grid-template-rows: 1fr; */
  grid-gap: 50px;
}
#otnBodu {
  grid-row: 1;
  grid-column: 3;
  float: right;
}
#otnTolerance {
  grid-row: 2;
  grid-column: 3;
}
#otTolerance {
  grid-row: 2;
  grid-column: 4;
}
#otnVyhodnotit {
  grid-row: 2;
  grid-column: 1;
}
#otnOdpovedi {
  grid-column: 5;
  grid-row: 1;
}
#otVlozit {
  grid-column: 4;
}
#otVyhodnotit {
  grid-column: 2;
  grid-row: 2;
}
#otZaokrouhlit {
  grid-row: 3;
  grid-column: 2;
}
#otSmazat {
  display: none;
}

#ttZvolene {
  grid-column: 1;
}
#ttDostupne {
  grid-column: 2;
}
#ttnDostupne {
  grid-column: 2;
  grid-row: 1;
}

.kolecko {
  font-size: 2.5em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: double 0.1em transparent;
  position: relative;
  border-radius: 0.35em;
  background: radial-gradient(ellipse at center, rgb(255, 244, 244) 35%, rgb(99, 99, 99) 55%),radial-gradient(ellipse at center, rgb(249, 169, 5) 50%, rgb(255, 204, 27) 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.5s;
  left: -0.15em;
	top: 0.12em;

}
 
.kolecko::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 25%;
  background: radial-gradient(ellipse at center, rgb(248, 243, 196) 0%, rgb(14, 4, 18) 100%);
  border-radius: 100%;
  opacity: 0;
  transition: 1s;
}
               
.kolecko:hover::before, .kolecko:focus::before, .kolecko.oznaceno:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 25%;
  background: radial-gradient(ellipse at center, rgb(248, 243, 196) 0%, rgb(14, 4, 18) 100%);
  border-radius: 100%;
  opacity: 1;
  transition: 1s;
}

.ctverec {
  font-size: 2.5em;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: double 0.1em transparent;
  position: relative;
  background: radial-gradient(ellipse at center, rgb(255, 244, 244) 35%, rgb(99, 99, 99) 55%),radial-gradient(ellipse at center, rgb(249, 169, 5) 50%, rgb(255, 204, 27) 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.5s;
  left: -0.15em;
	top: 0.12em;
}
 
.ctverec::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 25%;
  background: radial-gradient(ellipse at center, rgb(248, 243, 196) 0%, rgb(14, 4, 18) 100%);
  opacity: 0;
  transition: 1s;
}
               
.ctverec:hover::before, .ctverec:focus::before, .ctverec.oznaceno:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 50%;
  margin: 25%;
  background: radial-gradient(ellipse at center, rgb(248, 243, 196) 0%, rgb(14, 4, 18) 100%);
  opacity: 1;
  transition: 1s;
}

.ttMrizkaUpravit {
	display: grid;
	grid-template-columns: 8em 8em 2em 6em 4em 10em;
	margin-top: 1em;
}

#ttnNazev {
  grid-column: 1;
}
#ttNazev {
  grid-column: 2;
}
#ttId {
  display: none;
}
#ttnPlatnost {
  grid-column: 1;
}
#ttDo {
  grid-column: 2;
}
#ttnPokusu {
  grid-column: 4;
  grid-row: 1;
}
#ttnLimit {
  grid-column: 4;
  grid-row: 2;
}
#ttPokusu {
  grid-column: 5;
  grid-row: 1;
}
#ttLimit {
  grid-column: 5;
  grid-row: 2;
}
#ttnSkryt {
  grid-column: 6;
  grid-row: 1;
}
#ttnVyber {
  grid-row: 2;
  grid-column: 6;
}

#ttnHodnoceni {
	top: 1em;
	position: relative;
}

.popis {
	font-weight: bold;
	color: #ff5a00;
}


.otNabidka {
	display: block;
	float: right;
	top: -2.2em;
	position: relative;
}

.otNabidka.nahore {
	position: fixed;
	right: 0vw;
	margin-right: 2em;
	top: 3em;
}

.otNabidka span {
  border-radius: 50px;
	box-shadow: inset 2px 2px 2px #d5af76;
	margin: 0 auto;
	padding: 5px 10px;
	border: none;
	background: orange;
  box-shadow: inset 0px -9px 8px 2px #0006, inset 0px 10px 18px 0px #fff;
  transition: 0.5s;
}

.otNabidka span:hover {
	box-shadow: inset 0px -9px 8px 2px #fffc, inset 0px 10px 18px 0px #0006;
	transition: 0.5s;
}

.otNabidka.nahore span {
  box-shadow: 0px 0px 20px 3px #000000b3, 
              inset 0px -9px 8px 2px #0006, 
              inset 0px 10px 18px 0px #fff;
}

.otNabidka.nahore span:hover {
  box-shadow: 0px 0px 20px 3px #000000b3, 
              inset 0px -9px 8px 2px #fffc, 
              inset 0px 10px 18px 0px #0006;
}

.otNabidka.dolu {
	top: 1.5em;
}

.otNabidka.dolu.nahore {
	top: 3em;
}


#odeslatTest {
	box-shadow: 0px 0px 15px 1px #00000080;
	border-radius: 20px;
  padding: 00px 10px;
  transition: 0.5s;
}

#odeslatTest:hover {
	box-shadow: 0px 0px 15px 1px #00000080, inset 0px 0px 15px 1px #242323e6;
}

#odpocet {
	position: relative;
	width: 3.5em;
	display: inline-block;
	text-align: right;
}

#menuStudent.menu #menuInfo {
	position: relative;
	left: -10em;
}

#menuInfo {
	float: right;
	position: relative;
	right: 2em;
	display: none;
}