/*
@import url(reset.css);

@import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);
*/

body {
  width: 100%;
  *zoom: 1; }
  
  body:before, body:after {
    content: "";
    display: table; 
  }
  
  body:after {
    clear: both; 
  }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

pre, code {
  background-color: #fafafa;
  font-family: monospace; }

pre {
  padding: 5px; }

body {
  max-width: 1100px;
  margin: 1ex auto;
  overflow: auto; 
}

#html, body {
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 14pt;
  border: #DD5500 solid 3px;
  border-radius: 15px;
  padding: 1ex 1em; 
}
  
  #body {
    font-family: "Bree serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
    border-bottom: solid #DD5500 2px;
    padding-bottom: 1ex;
    margin-bottom: 1em; 
  }
    
  a {
    text-decoration: none;
    color: #DD5500; 
  }

  h1 {
    font-size: 250%;
    font-weight: bold;
    padding: 0px; 
  }

  img {
    vertical-align: middle; 
  }

  ul {
    margin-left: 9.375%;
    display: inline; 
  }

  li {
    display: inline-block;
    margin: 5px 5px; 
  }
    
  a {
    display: inline-block;
    padding: 5px 7px 2px;
    text-decoration: overline; 
  }

  li:hover a {
    text-decoration: underline; 
  }

/* prichytavat menu nahore */
.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  background: white;
  width: 100%;
  height: 38px;
  border-bottom: 2px solid orange;
}

/* oprava menu aby telo stranky nepreskakovalo */
.body-menu {   
  margin-top: 38px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Bree serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: bold;
  color: #DD5500;
  margin-top: 1em;
  margin-bottom: 1ex;  
}

  h1 {
    font-size: 200%; 
  }
  
  h2 {
    font-size: 140%; 
  }
 
  h3 {
    font-size: 111%; 
  }
  
  nav {
    //text-align: center;
  }

  ul {
    /*margin: 0.5ex 0px 0.5ex 40px; */
    margin:0;

  }
    
  ul li {
      list-style-type: disc; 
  }

  p {
    margin: 0.5ex 0px 0.5ex 0px; 
  }

footer {
  font-family: "Bree serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 77%;
  text-align: right;
  border-top: solid #DD5500 1px;
  margin-top: 1em;
  padding-top: 1ex; }
  footer a {
    color: #DD5500; }

body .vysledek_True{
  background-color:#3ADF00;
  border-radius: 5px;
}


.vysledek_False{
  background-color:#FF0000 ;
  border-radius: 5px;
}

.vysledek{
  background-color:#FFBF00 ;
  border-radius: 5px;
}

.login {
  text-align: right;
  margin-right: 34.375%;
  line-height: 150%; }

#prihlaseno {
  float: right;
  text-align: right; }
  #prihlaseno a {
    text-decoration: overline; }
  #prihlaseno a:hover {
    text-decoration: underline; }

.pridat_otazku td {
  padding-right: 1ex;
  padding-bottom: 5px; }
.pridat_otazku textarea {
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 110%;
  max-width: 100%; }

p.spatne, p.dobre {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: 150%; }

p.dobre {
  color: green; }

.spravna_odpoved {
  color: green; }

.spatna_odpoved {
  color: red; }

.odeslat {
  text-align: right;
  margin: 1em;
  margin-right: 2em; }

.seznam_otazek li, .otazka li {
  margin-bottom: 1em;
  list-style-type: none;
  border: 1px solid #660055;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; 
}

  .seznam_otazek li:hover, .otazka li:hover {
    background-color: #ddffaa; 
  }

  .seznam_otazek h2, .otazka h2 {
    font-size: 105%;
    color: #660055;
    display: inline-block;
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%; 
  }

  .seznam_otazek .odkazy, .otazka .odkazy {
    display: inline-block;
    display: inline;
    float: left;
    width: 47.91667%;
    margin: 0 1.04167%; 
  }

  .seznam_otazek a, .otazka a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 3px 5px;
    background: #eee;
    color: #660055;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px ridge black; 
  }

  .seznam_otazek a:hover, .otazka a:hover {
  background: #f3f3f3;
  border-style: inset; 
}

.seznam_otazek p, .otazka p {
  margin-left: 20px;
  margin-right: 20px; 
}

.otazka .rendruj {
  padding-top: 4em; }

.anone {
  text-align: center;
  margin-bottom: 2em; }

.logo2 {
  font-size: 0;
  width:85px;
  display: inline-block;
}

 .bar, .bar0, .bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
  background-color: #DD5500;
  width: 10px;
  padding: 0px;
  display: inline-block;  
  margin-right: 1px;
  transition: 3s;
  }

.bar0 {height: 22px; }
.bar1 {height: 11px; }
.bar2 {height: 40px; }
.bar3 {height: 60px; }
.bar4 {height: 30px; }
.bar5 {height: 17px; }
.bar6 {height: 50px; }

.clear {
  clear: both; }

/*    Javascript CSS   */
.j-filterp {
  text-align: center;
  margin-top: -1em;
  margin-bottom: 1em; 
}

.kalendar1 input {
  width: 10em; 
}

#kalendar1, #kalendar2 {
  position: absolute; 
}
  
  #kalendar1 table {
    border-collapse: collapse;
    border: 1px solid brown;
    background-color: #FAFAD2;
    position: absolute;
    top: -1em;
    left: calc(11em + 10px); 
  }
  
  #kalendar1 th {
    color: brown;
    border-bottom: 1px solid brown; 
  }
  
  #kalendar1 th, #kalendar1 td {
    font-size: 12px;
    text-align: center;
    padding: 2px 3px 2px 2px; 
  }
  
  #kalendar1 thead th {
    text-align: center;
    color: #FAFAD2;
    background-color: brown; 
  }
  
  #kalendar1 thead th:first-child,
  #kalendar1 thead th + th + th, {
    background-color: #C00000;
    cursor: pointer; 
  }
  
  #kalendar1 .dnes {
    color: #FAFAD2;
    background-color: brown; 
  }
  
  #kalendar1 .akt {
    color: #FAFAD2;
    background-color: red; 
  }
  
    #kalendar1 td {
    cursor: pointer; 
  }
  
    #kalendar1 #content {
    padding-bottom: 120px; 
  }
  
    #kalendar1 #main {
    position: relative;
    z-index: 1; 
  }
  
    #kalendar1 input.ukazka {
    float: right;
    margin-right: 20px; 
  }

  .logo {
    width: 150px;
    height: 150px;
  }

table {
  border-collapse: collapse;
  border: 2px solid orange;
  margin: 0 auto;
  padding:2px;
}

  .tabulka {
  font-size: 1em;
  font-weight:bold;
  }

  th,td {
  border: 2px solid orange;
  padding: 0 10px 0 10px;
  }

  tr {
      padding-right:10px;
  }

  th {
  text-align:left;
  background:linear-gradient(white,orange); 
  color:brown;border:transparent;
  height:22px;
  vertical-align:center;
  }



.dialog {
  position: fixed; 
  width: 200px; 
  height: 50px; 
  padding: 1em; 
  background: rgba(255, 115, 0, 0.822);
  color: #fff; 
  font-size: 18px;
  display: none; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  margin: auto;
  z-index: 200;
  border-radius: 10%;
}

#hlaska {
  background: rgba(255, 115, 0, 0.822); 
  color: rgb(7, 0, 83);
  font-weight: bold;
  position: fixed;
  width: 50%; 
  top: 0; 
  left: 50%; 
  margin-left: -25%; 
  padding: .5em; 
  top: -3em; 
  transition: top 1s;
  line-height: 1.2;
  font-family: "Lora", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 14pt;
  border-radius: 5px;
  z-index: 199;
}

#hlaska.zobrazit {top: 0}

#hlaskaIframe {
  position: fixed;
  top: 0px;
  background: rgba(255, 115, 0, 0.822);
  padding: 20px;
  border-radius: 20px;
  margin-left: 10%;
  z-index: 198;
}

#hlaskaIframe iframe {
  width: 600px;
  height: 400px;
}


.skryty {
  display: none;
}

  

.otazka, .test, .vysledek {
	padding: 5px;
	border: 2px solid orange;
	background:orange;
	margin: 5px 0px;
  border-radius: 10px;
  cursor: pointer;
}

  .otNazev, .ttNazev {
    /*display: block;*/
    font-weight: bold;
    font-size: 21px;
  }

  .otZadani{
    display: block;
  }


  .otazka.vybrana {
    background: yellow;
  }

#stranka {
  display: block;
}

.kalendar {
  cursor:pointer; 
  vertical-align:bottom; 
  position:relative; 
  top:-2px;
  z-index: 100;
}




/*************lista - hodnoceni **********************/

#znamky {
  background-color: #DD5500;
  width: 500px;
  height: 10px;			
  display:block;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.znamka {
  width: 25px;
  height: 20px;			
  display: block;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top:-5px;
  font-size: 16px;
  text-align:center;
  cursor: e-resize; 
}

.znamka:active{
  background-color: black;
}

#jednicka{
  z-index: 11;
  background-color: green;
  color: white;
}

#dvojka{
  z-index: 12;
  background-color: yellow;
}

#trojka{
  z-index: 13;
  background-color: blue;
  color: white;
}

#ctverka{
  z-index: 14;
  background-color: purple;
  color: white;
}		

#petka{
  z-index: 15;
  background-color: cyan;
}


.otTlacitka, .ttTlacitka {
  float: right;
  display: none;
}

.ttAutor, .ttOd, .ttDo {
  padding-right: 10px; 
}


.otOdpovedi {
  background: white;
  display: block;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.txOtazka {
  display: block;
  min-width: 500px;
  overflow: hidden;
}

ol.odpovedi {
  display: block;
  /*list-style-type: decimal;*/
}


li.odpoved {
  display: list-item;
  list-style: pismena;
  margin-left: 30px;  
}


@counter-style pismena {
    symbols: 'a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j';
}

.inputLista{
  cursor: pointer; 
}

.dobre, input.dobre {
  border: green solid 2px; 
}

.spatne, input.spatne {
  border: red solid 2px; 
}

input.otevrena {
  border: blue solid 2px; 
}

input.seda {
  border: grey solid 2px; 
}

.odOtevrena {
  color: blue;
}

.inputSpravna, .odDobre {
  color: green;
}

.inputSpatna, .odSpatne, .inputSmazat {
  color: red;
}

.inputSpravna, .inputSpatna, .inputSmazat {
  padding-left: 5px;
}

.inputTlacitka {
  display: none;
}

.odpoved {
  cursor: pointer;
}

.odpoved:hover {
  background: yellow;
}

.odpoved.oznacena {
  background: orange;
}

#obnovJS, #odhlasit, .otPridat, .logo2, .ttPridat {
  cursor: pointer;
}

#obnovJS:hover {
  //background: yellow;
}

.tabDb input {
	width: 30px;
}


#uzivatele, #log {
  display: none;
}

.odSpatne.oznaceno, .odDobre.oznaceno {
  color: white;
  display: table;
  padding-right: 5px;
}

.odSpatne.oznaceno {
  background: red;
}

.odDobre.oznaceno {
  background: green;
}


#menuUcitel, #menuStudent {
  display: none;
}