<!doctype html>
<html lang="cs">
<head>
  <title>WebTest{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="./static/styl.css?v=7">
  <link rel="shortcut icon" href="./static/favico.svg" />
  <script type="text/javascript" async src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script src="./static/js/jquery-3.2.1.min.js"></script>
  <script src="./static/js/cssrefresh0.js"></script> 
  <script src="./static/js/socketio.min.js"></script>
  <script src="./static/simplemde/simplemde.min.js" defer></script>
  <script src="./static/simplemde/lista.js?v=2" defer></script>
  <script src="./static/js/nacti.js?v=15"></script>
  <link rel="stylesheet" href="./static/simplemde/simplemde.min.css" media="none" onload="if(media!=='all')media='all'">

</head>

<body><div id="body">
  <header role="banner">
  {% block header %}
    <span id="prihlaseno">
      {% if session.typ and session.jmeno %}
        <span id="typUzivatele">{{session.typ}}</span>:
        <a id="odhlasit">{{session.jmeno}}</a><br>
        Přihlášených: <span id="prihlasenych">0</span>
      {% endif %}   
    </span>

    <a href="./"><img class="logo" src="./static/logo.svg"></a>
    <a href="./" class="logo3">WebTest</a>
    <span class="logo2">
      <span class="bar0"></span>
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
      <span class="bar4"></span>
      <span class="bar5"></span>
      <span class="bar6"></span>
    </span>
  {% endblock header %}
  </header>

<nav role="navigation" id="menuStudent">
  <ul>
    <li><a href="#!Hodnoceni">Hodnoceni</a></li>
    <li><a href="#!Testy2">Testy</a></li>	
    <li><a href="#!Ucet">Účet</a></li>    
  </ul>
</nav>
<nav role="navigation" id="menuUcitel">
  <ul>
    <li><a href="#!Vysledky">Výsledky</a></li>
    <li><a href="#!Otazky">Otázky</a></li>
    <li><a href="#!Testy">Testy</a></li>
    <li><a href="#!Tridy">Třídy</a></li>  
    <li><a href="#!Studenti">Studenti</a></li>    
    <li><a href="#!Ucitele">Učitelé</a></li>        
    <li><a href="#!Slovnik">Slovník</a></li>       
    <li><a href="#!Nahrat">Upload</a></li>
    <li><a href="#!Akce">Akce</a></li>    
    <li><a href="#!Aktivita">Aktivita</a></li>
    <li><a href="#!Prihlaseni">Přihlášení</a></li>
    <li><a href="#!Ucet">Účet</a></li> 
  </ul>  
</nav>
<nav role="navigation" id="menuAdmin">
  <ul>
    <li><a href="#!Vysledky">Výsledky</a></li>
    <li><a href="#!Otazky">Otázky</a></li>
    <li><a href="#!Testy">Testy</a></li>
    <li><a href="#!Tridy">Třídy</a></li>  
    <li><a href="#!Studenti">Studenti</a></li>    
    <li><a href="#!Ucitele">Učitelé</a></li>        
    <li><a href="#!Slovnik">Slovník</a></li>       
    <li><a href="#!Nahrat">Upload</a></li>
    <li><a href="#!Akce">Akce</a></li>    
    <li><a href="#!Aktivita">Aktivita</a></li>
    <li><a href="#!Prihlaseni">Přihlášení</a></li>  
    <li><a href="#!DB">DB</a></li> 
    <li><a href="#!Ucet">Účet</a></li> 
  </ul>  
</nav>

<div id="stranka"></div>
<div id="log"></div>
<div id="uzivatele"></div>

<div id="ucet">
  <h1>Účet</h1>
  Login: <span id="ucLogin"></span><br>
  Jméno: <span id="ucJmeno"></span><br>
  Příjmení: <span id="ucPrijmeni"></span><br>
  Třída: <span id="ucTrida"></span><br>

  <h3>Změna hesla</h3>
  <input type="password" placeholder="Současné heslo" id="ucHeslo1"><br> 
  <input type="password" placeholder="Nové heslo" id="ucHeslo2"><br> 
  <input type="password" placeholder="Znovu" id="ucHeslo3"><br> 
  <button id="ucZmenitHeslo">Změnit</button>
</div>

<div id="prihlaseni">
  <h1>Přihlaste se</h1>
  <input type="text" placeholder="Jméno" id="login" value="ucitel"><br>
  <input type="password" placeholder="Heslo" id="heslo"><br> 
  <button id="prihlasit">Přihlásit se</button>
</div>

{% block footer %}
  <footer>
    <p>Powered by: 
    <a href="https://github.com/spseol/WebTest">WebTest</a> 
    (<a href="http://python.org">Python</a>, 
    <a href="http://flask.pocoo.org/">Flask</a>)
    </p>
  </footer>
{% endblock footer %}

</div></body>
</html>