<!doctype html>
<html lang="cs">
<head>
  <title>WebTest{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./static/styles.css">
  <link rel="shortcut icon" href="./static/favico.svg" />
  <script type="text/javascript" async src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script src="./static/js/jquery-3.2.1.min.js"></script>
  <script src="./static/ssrefresh.js"></script> 
  <script src="./static/js/socketio.min.js"></script>
  <script src="./static/simplemde/simplemde.min.js" defer></script>
  <script src="./static/simplemde/lista.js" defer></script>
  <script src="./static/js/nacti.js"></script>
  <link rel="stylesheet" href="./static/simplemde/simplemde.min.css" media="none" onload="if(media!=='all')media='all'">

</head>

<body><div id="body">

  <header role="banner">
  {% block header %}

    <p class="inout">
      {% if 'student' in session %}
      student: <a href="./login/">{{session.student}}</a>, 
                                  <a href="./logout/">odhlásit</a>
      {% elif 'ucitel' in session %}
      učitel: <a href="./login/">{{session.ucitel}}</a>,
                                  <a href="./logout/">odhlásit</a>
      {% endif %}
      <br>
      Přihlášených: <span id="prihlasenych">0</span>
    </p>

    <h1>
      <a href="./">
        <img class="logo "src="./static/logo.svg">
        WebTest</a>
      <span class="logo2">
        <span class="bar0"></span>
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
        <span class="bar4"></span>
        <span class="bar5"></span>
        <span class="bar6"></span>
      </span>
    </h1>

    <nav role="navigation">
    {% block menu %}


    {% endblock menu %}
    </nav>
  {% endblock header %}
  </header>

{% block main %}

<div id="stranka"></div>

{% endblock main %}


{% block footer %}
  <footer>
    <p>Powered by: 
    <a href="https://github.com/spseol/WebTest">WebTest</a> 
    (<a href="http://python.org">Python</a>, 
    <a href="http://flask.pocoo.org/">Flask</a>)
    </p>
  </footer>
{% endblock footer %}

</div></body>
</html>
