{% extends "base.html" %}

{% block menu %} {% endblock menu %}

{% block main %}

  {% if "student" in session or "ucitel" in session %}  
    <h1>Jsi přihlášen</h1>

    <ul>
    {% if "student" in session %}  
      <li>Jsi přihlášen jako <strong>student: {{jmeno}} -- {{session.student}}
                                                                </strong>.</li>
    {% elif "ucitel" in session %}  
      <li>Jsi přihlášen jako <strong>učitel: {{jmeno}} -- {{session.ucitel}}
                                                                </strong>.</li>
    {% endif %}  
      <li>Přihlášení je platné do zavření prohlížeče.</li> 
      <li>Pokud se rozhodneš tento web opustit prosím 
        <a href="./logout/">odhlas se zde</a> nebo v pravém
        horním rohu.</li>
    </ul>

    <p class="logout"> 
      <strong><a href="./logout/">Odhlásit se</a></strong>;
      <strong><a href="./">Hlavní strana</a></strong>
    </p>

  {% else %}
    <div id="stranka">
      <h1>Přihlaste se</h1>

      <p><strong style="color:red;">
      {% if spatne is defined %}
        Neplatné přihlašovací údaje. Zaregistrujte se nejdřív.
      {% endif %}
      {% if url is defined %}
        Stránka 
        <a href="{{request.url_root[:-1]+url}}">{{request.url_root[:-1]+url}}</a>
        vyžaduje přihlášení.
      {% endif %}
      </strong></p>

      <form method="post" action="">
        <span class="login">
          <input type="text" name="login" placeholder="Jméno" value="ucitel" /> <br />
          <input type="password" placeholder="Heslo" name="passwd" /> <br />
        {% if url is defined %}
          <input type="hidden" name="url" value="{{url}}" /> 
        {% endif %}      
          <input class="submit" type="submit" name="ok" value="Přihlásit se">
        </span>
      </form>
      <button id="registrace">Registrace</button><br>
      <strong><a href="./databaze/">Databáze</a></strong><br>
      <span id="obnovJS">obnovit

      </span>
    </div>
  {% endif %}
{% endblock main %}
