{% extends "base.html" %}

{% block menu %} {% endblock menu %}

{% block main %}

  {% if "student" in session or "ucitel" in session %}  
    <h1>Jsi přihlášen</h1>

    <ul>
    {% if "student" in session %}  
      <li>Jsi přihlášen jako <strong>student: {{jmeno}} -- {{session.student}}</strong>.</li>
    {% elif "ucitel" in session %}  
      <li>Jsi přihlášen jako <strong>učitel: {{jmeno}} -- {{session.ucitel}}</strong>.</li>
    {% elif "admin" in session %}  
      <li>Jsi přihlášen jako <strong>admin: {{jmeno}} -- {{session.admin}}</strong>.</li>
    {% endif %}  
      <li>Přihlášení je platné do zavření prohlížeče.</li> 
      <li>Pokud se rozhodneš tento web opustit prosím 
        <a href="./logout/">odhlas se zde</a> nebo v pravém
        horním rohu.</li>
    </ul>

    <p class="logout"> 
      <strong><a href="./logout/">Odhlásit se</a></strong>;
      <strong><a href="./">Hlavní strana</a></strong>
    </p>
  {% endif %}
{% endblock main %}
