{% extends "ucitel.html" %}

{% block head %} {{ mathjaxheader() }} {% endblock head %}

{% block main %}
<h1>{%block nadpis%}Zobrazit otázku{%endblock nadpis%}</h1>


{%block info%}{%endblock%}

  <section class="otazka">
    <header>
      <h2>{{otazka.jmeno}}</h2>
      <span class="odkazy">
        <a href="{{url_for('otazky_ucitel', login=otazka.ucitel.login)}}">
          {{otazka.ucitel.jmeno}}</a>
        <a href="{{url_for('otazka_zobrazit', id=otazka.id)}}">zobrazit</a>
        <a href="{{url_for('otazka_editovat', id=otazka.id)}}">editovat</a>
        <a href="{{url_for('otazka_smazat', id=otazka.id)}}">smazat</a></br>
      </span>
    </header>

    <div class="rendruj">
    {% block rendruj %}
      {{rendruj(otazka.obecneZadani)}}
    {% endblock rendruj %}
    
    <p style="margin-top: 2em;">
    {%if otazka.SprO%}
      <span class="odpoved spravna">{{otazka.SprO}}</span>
    {%endif%}
    {%if otazka.SPO1%}
    | <span class="odpoved spatna">{{otazka.SPO1}}</span>
    {%endif%}
    {%if otazka.SPO2%}
    | <span class="odpoved spatna">{{otazka.SPO2}}</span>
    {%endif%}
    {%if otazka.SPO3%}
    | <span class="odpoved spatna">{{otazka.SPO3}}</span>
    {%endif%}
    {%if otazka.SPO4%}
    | <span class="odpoved spatna">{{otazka.SPO4}}</span>
    {%endif%}
    {%if otazka.SPO5%}
    | <span class="odpoved spatna">{{otazka.SPO5}}</span>
    {%endif%}
    {%if otazka.SPO6%}
    | <span class="odpoved spatna">{{otazka.SPO6}}</span>
    {%endif%}
             
    </p>
    </div>

  </section>

{% endblock main %}
