<div class="UpravitTest">
    <h1 id="upravitTest">Upravit test</h1>
    <span class="ttMrizkaUpravit">
        <span class="popis" id="ttnNazev">Název testu</span>   	
        <input type="text" id="ttNazev" placeholder="Název">	
        <span id="ttId"></span>
        <span class="popis" id="ttnPlatnost">Platnost:</span>   
        <input type="text" id="ttOd" placeholder='od'>
        <img src="./static/kalendar.png" input="ttOd" class="kalendar">
        <input type="text" id="ttDo" placeholder='do'>
        <img src="./static/kalendar.png" input="ttDo" class="kalendar">    
        <span class="popis" id="ttnPokusu">Pokusů:</span>
        <input type="text" id="ttPokusu">
        <span class="popis" id="ttnLimit">Limit:</span>
        <input type="text" id="ttLimit" placeholder="min">
        <span class="popis" id="ttnMax">Max otázek:</span>    
        <input type="text" id="ttOmezeni">
        <span class="popis" id="ttnSkryt">Skrýt
            <input type="checkbox" id="ttSkryt">
        </span>
        <span class="popis" id="ttnVyber">Náhodný výběr
                <input type="checkbox" id="ttVyber">
        </span>
    </span>

    <span class="popis" id="ttnTridy">Třídy:</span>
    <div class="inputLista">
        <select class="ttTridy">
            <option value="0">Všechny třídy</option>	
        </select>
        <span class="inputTlacitka">
            <span class="inputPridat">+</span>
            <span class="inputSmazat">x</span>
        </span>
    </div>

    <div class="popis" id="ttnHodnoceni">Hodnocení:</div>
    <select id="hodnoceniTyp">
        <option value="0">12345</option>
        <option value="1">1 1- ... 4- 5</option>
        <option value="2">1234</option>
        <option value="3">ABCDEF</option>	
        <option value="4">Procenta</option>		
    </select>
    <select id="hodnoceni">
        <option value="rovnomerne">Rovnoměrně</option>
        <option value="mirne">Mírné</option>
        <option value="stredni">Střední</option>        
        <option value="prisne">Přísné</option>
        <option value="nejtezsi">Nejtěžší</option>	
    </select>   
    <span id="znamky">	
        <span class="znamka" id="zn1">0</span> 
        <span class="znamka" id="zn2">0</span>
        <span class="znamka" id="zn3">0</span>
        <span class="znamka" id="zn4">0</span>
        <span class="znamka" id="zn5">0</span>
        <span class="znamka" id="zn6">0</span>
        <span class="znamka" id="zn7">0</span>
        <span class="znamka" id="zn8">0</span>
        <span class="znamka" id="zn9">0</span>
    </span>


    <h4>Otázky:</h4> 
    <span class="ttLista">
        <button id="ttOdeslat">Odeslat</button>
        <button id="ttVybrat">Vyměnit otázky</button>    
        <button id="ttSkrytZadani">Zobrazit zadání</button>            
    </span>    
    <div id="ttMrizka">
        <span id="ttnZvolene" class="popis">Zvolené:</span>
        <div id="ttZvolene"></div>       
        <span id="ttnDostupne" class="popis">Dostupné:</span>
        <div id="ttDostupne"></div>
    </div>
</div>