<h1>Upload</h1>
Na tomto místě můžete hromadně nahrát nebo stáhnout otázky nebo celý test.<br>
Formát souboru je JSON a CSV
<br><br>
<a href="./json/otazky/export/">Stáhnout otázky</a><br>
<a href="./json/testy/export/">Stáhnout testy</a><br>
<a href="./csv/slovnik/">Stáhnout slovník</a><br>

<h2>Nahrát otázky, testy nebo slovník</h2>
<input id="upSoubor" class="skryty" type="file" accept=".txt, .json, .csv">
<button id="upProchazet">Procházet</button>
<button id="upOdeslat" class="skryty">Odeslat</button>
<span id="upSJmeno"></span>
<div id="upKontrola"></div>

<textarea id="upravaJSON" class="skryty"></textarea>