<h1>Upload</h1>
Na tomto místě můžete hromadně nahrát nebo stáhnout otázky, celý test, 
seznam slov nebo seznam studentů.<br>
Formát souboru je JSON a CSV
<br>
<h3>Stáhnout</h3>
<a href="./json/otazky/export/">Otázky</a><br>
<a href="./json/testy/export/">Testy</a><br>
<a href="./csv/slovnik/">Slovník</a><br>
<a href="./csv/studenti/">Studenti</a><br>

<h2>Nahrát soubor</h2>
<input id="upSoubor" class="skryty" type="file" accept=".txt, .json, .csv">
<button id="upProchazet">Procházet</button>
<button id="upOdeslat" class="skryty">Odeslat</button>
<span id="upSJmeno"></span>
<div id="upKontrola"></div>
<span id="upCh" class="skryty">
    <input id="upStudenti" type="checkbox"> Studenti
</span>
<br>
<textarea id="upravaJSON" class="skryty"></textarea>