<script>editor("otZadani");</script>

<div class="UpravitOtazku">
  <h1 id="upravitOtazku">Upravit otázku</h1>
  <input type="text" id="otJmeno" placeholder="Jméno otázky" value="otazkaaaa">
  <span id="otId"></span>
  <br>
  <select id="otTyp">
    <option value="U">Uzavřená</option>     
    <option value="O">Otevřená</option>
    <option value="C">Číselná</option>
  </select>
  <br>
  <textarea id="otZadani" placeholder="Zadání"></textarea>
  <br>
  <input class="dobre"  type="text" id="SPRO" placeholder="Správná odpověď" value="aaa"><br>
  <input class="spatne" type="text" id="SPO1" placeholder="Špatná odpověď 1" value="bbb"><br>
  <input class="spatne" type="text" id="SPO2" placeholder="Špatná odpověď 2" value="ccc"><br>
  <input class="spatne" type="text" id="SPO3" placeholder="Špatná odpověď 3" value="ddd"><br>
  <input class="spatne" type="text" id="SPO4" placeholder="Špatná odpověď 4" value=""><br>
  <input class="spatne" type="text" id="SPO5" placeholder="Špatná odpověď 5" value=""><br>
  <input class="spatne" type="text" id="SPO6" placeholder="Špatná odpověď 6" value=""><br>
  <button id="otVlozit">Odeslat</button>
  <button id="otSmazat">Smazat</button>  
</div>