<script src="/static/kalendar.js"></script>

<div class="UpravitTest">
    <h1 id="upravitTest">Upravit test</h1>
    <h4>Název testu:</h4>	
    <input type="text" id="ttNazev" placeholder="Název"><br>	
    
    
    <h4>Platnost:</h4>
    <input type="text" id="ttOd" placeholder='od'>
    <img src="/static/kalendar.png" class="kalendar">
    <input type="text" id="ttDo" placeholder='do'>
    <img src="/static/kalendar.png" class="kalendar">    

    <h4>Otázky:</h4>
    
    <h6>Dostupné:</h3>
    <h6>Zvolené:</h3>
        
    <button id="ttOdeslat">Odeslat</button>
    <button id="ttSmazat">Smazat</button>
</div>