<script>editor("otZadani");</script>

<div class="UpravitOtazku">
  <h1 id="upravitOtazku">Upravit otázku</h1>
  <textarea id="otZadani" placeholder="Zadání"></textarea>
  <input type="text" id="otJmeno" placeholder="Jméno otázky" value="">
  <input type="text" id="otBodu" placeholder="Počet bodů" value="">
  <select id="otVyhodnotit">
    <option selected disabled>Správně je když:</option>
    <option value="1">1. nebo 2. správně</option>
    <option value="2">1. a 2. správně</option>
    <option value="3">1 správně ze 2 -> 1/2 bodů</option>
  </select>

  <span id="otId"></span>

  <h2>Odpovědi</h2>
  <div id="vlozitOtazky"></div>
  <button id="otVlozit">Odeslat</button>
  <button id="otSmazat">Smazat</button>  
</div>